<p> Toptal posts: <%= @blog_posts.count %> </p>
<div> <% @blog_posts.each do |blog_post| %> 
<div>
   <h1> <%= link_to blog_post.titile, blog_post %> </h1>
    <%= blog_post.body %> 
    </div>
    <% end %>
</div>

